@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Outfit';
}
.text-grad{
  background: -webkit-linear-gradient(45deg,rgb(139 92 246),rgb(217 70 239) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-grad{
  @apply bg-gradient-to-br from-blue-400 to-purple-500 rounded-lg
}

.bg-grad{
  @apply bg-gradient-to-br from-violet-500 to-fuchsia-500
}

::-webkit-scrollbar{
  display:none;
}